<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>NDN Whiteboard</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css' />
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-animate.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular-touch.js'></script>
  <script src='https://morgul.github.io/ui-bootstrap4/ui-bootstrap-tpls-3.0.4.js'></script>
  <script src='./js/ndn.js'></script>
  <script src='./js/sjcl.js'></script>
</head>

<body ng-app='ndnWhiteboard' class='bg-light'>
  <div ng-controller='ndnWhiteboardCtrl'>
    <!-- Setting -->
    <div ng-show='showSetting' class='text-center'>
      <form ng-submit='submitSetting()' class='form-setting'>
        <h1 class='h1 mb-3 font-weight-light'>NDN Whiteboard</h1>
        <div class='input-group'>
          <input ng-model='nfdHost' type='text' class='form-control' placeholder='NFD host' required autofocus>
          <div class='input-group-append'>
            <button ng-click='useDefaultNfdHost()' type='button' class='btn btn-outline-secondary'>Default</button>
          </div>
        </div>
        <div class='input-group'>
          <input ng-model='username' type='text' class='form-control' placeholder='username' required>
        </div>
        <button ng-disabled='disableSubmitSetting' class='btn btn-primary btn-block' id='submit-setting'>Submit</button>
      </form>
    </div> <!-- Setting end -->
    <!-- Whiteboard -->
    <div ng-show='showWhiteboard' ng-cloak>
      <!-- Nav bar -->
      <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
        <a class='navbar-brand font-weight-light' href=''>NDN Whiteboard</a>
        <div class='collapse navbar-collapse'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <button ng-click='leaveGroup()' type='button' class='btn btn-sm btn-outline-danger'>Leave group</button>
              <button ng-click='shareLink()' type='button' class='btn btn-sm btn-outline-success'>Share link</button>
              <!-- DEBUG -->
              <button ng-click='logGroup()' type='button' class='btn btn-sm btn-outline-warning'>Log group</button>
              <button ng-click='logCanvas()' type='button' class='btn btn-sm btn-outline-warning'>Log canvas</button>
            </li>
          </ul>
          <div class='input-group col-3 ml-auto'>
            <input ng-model='groupLink' type='text' class='form-control' placeholder='Group Link'>
            <div class='input-group-append'>
              <button ng-click='joinGroup()' type='button' class='btn btn-outline-light'>Join</button>
            </div>
          </div>
        </div>
      </nav> <!-- Nav bar end -->
      <div class='container-fluid noselect'>
        <div class='row'>
          <!-- Group Info -->
          <div class='col-2 px-0 py-2 bg-white border-left border-top'>
            <h6 class='text-secondary font-weight-bold float-left ml-3 mt-2'>{{group.id}}</h6>
            <span class='badge badge-secondary badge-pill float-right mr-3 mt-2'>{{group.members.length}}</span>
          </div> <!-- Group Info end -->
          <!-- Toolbar -->
          <div class='col-10 py-2 bg-light border-left border-top d-flex'>
            <div class='input-group input-group-sm col-2'>
              <div class='input-group-prepend'>
                <label class='input-group-text'>Color</label>
              </div>
              <select ng-options='color for color in STROKE_STYLE_OPTIONS' ng-model='canvas.draw.strokeStyle' class='custom-select'></select>
            </div>
            <div class='input-group input-group-sm col-2'>
              <div class='input-group-prepend'>
                <label class='input-group-text'>Line width</label>
              </div>
              <select ng-options='lineWidth for lineWidth in LINE_WIDTH_OPTIONS' ng-model='canvas.draw.lineWidth' class='custom-select'></select>
            </div>
          </div> <!-- Toobar end -->
          <!-- New line -->
          <div class='w-100'></div>
          <!-- Group members -->
          <div class='col-2 px-0 bg-light border-left'>
            <ul class='list-group'>
              <li ng-repeat='member in group.members' class='list-group-item rounded-0 border-left-0 border-right-0'
                style='background-color:#e9ecef'>
                <h6 ng-class='member === userId ? "" : "font-weight-light"' class='float-left my-1'>{{member}}</h6>
                <span ng-show='member === group.manager' class='badge badge-primary float-left ml-2 mt-1'>M</span>
              </li>
            </ul>
          </div> <!-- Group members end -->
          <!-- Canvas -->
          <div class='col-10 px-0 bg-white border-left border-top'>
            <!-- Whiteboard -->
            <canvas ng-mousedown='canvasMousedown($event)' ng-mouseup='canvasMouseup($event)' ng-mouseleave='canvasMouseleave($event)'
              ng-mousemove='canvasMousemove($event)' id='canvas' width='3200px' height='1800px'>
              Sorry, your browser doesn't support the &lt;canvas&gt; element.
            </canvas> <!-- Whiteboard end -->
          </div> <!-- Canvas end -->
        </div>
      </div>
    </div> <!-- Whiteboard end -->
  </div>

  <!-- ndn_whiteboard_app.js must be loaded before other scripts. -->
  <script src='./js/ndn_whiteboard_app.js'></script>
  <script src='./js/ndn_whiteboard_ctrl.js'></script>
  <script src='./js/util_service.js'></script>
  <script src='./js/ndn_service.js'></script>
  <script src='./js/group_factory.js'></script>
  <script src='./js/canvas_factory.js'></script>
  <script src='./js/config_constant.js'></script>

</body>

</html>
